@import url('https://fonts.googleapis.com/css?family=Numans');
a {
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

a:hover {
    text-decoration: underline;
}

html,
body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100vh;
    -ms-flex-line-pack: center;
    align-content: center;
}

.card {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5) !important;
    box-shadow: 3px 1px 30px 3px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 3px 1px 30px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 3px 1px 30px 3px rgba(0, 0, 0, 0.7);
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input:focus {
    outline: 0 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.actionbtn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.actionbtn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.password-invisible {
    top: 25%;
    z-index: 7;
    right: 2%;
    cursor: pointer;
}

.invalid-feedback {
    font-size: 1.05rem;
}

.button-control {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .invalid-feedback {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:500px) {
    html {
        font-size: 14px;
    }
    .invalid-feedback {
        margin-top: 2.42rem;
    }
}