.card {
    width: 400px;
    white-space: nowrap;
}

#invalid {
    white-space: normal;
}

.button-control {
    bottom: 50px;
}

.actionbtn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}