body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

.card {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    box-shadow: 3px 1px 30px 3px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 3px 1px 30px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 3px 1px 30px 3px rgba(0, 0, 0, 0.7);
}

.actionbtn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.actionbtn:hover {
    color: black;
    background-color: white;
}

.wrapping {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 300px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn {
    width: 140px;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 335px) {
    html {
        font-size: 14px;
    }
    .btn {
        width: 120px;
    }
}

#modalBody {
    white-space: normal;
}