@import url('https://fonts.googleapis.com/css?family=Numans');
a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

a:hover {
    text-decoration: underline;
    color: white;
}

html,
body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100vh;
    align-content: center;
}

.card {
    position: relative;
    height: 390px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.remember label {
    width: 30%;
}

.signup_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.signup_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

@media screen and (max-width:768px) {
    .responsive-width {
        width: 100% !important;
    }
}

.invalid-feedback {
    font-size: 1.05rem;
}